<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <style>
            .answer {
                margin-bottom: 5px;
            }
        </style>
        <title>Конструктор тесту - Knowledge Checkup</title>
        {{template "imports"}}
    </head>
    <body>
        <header>
            <h1><img src="../../static/img/logo.jpg" alt=""> Knowledge Checkup</h1>
            {{template "teacherMenu"}}
        </header>
        <section class="test-editing-full">
            <section class="test-editing">
                <h1>Редагування тесту</h1>
                <div class="test-data-container">
                    <label for="testTitle">Назва тесту:</label><br>
                    <input type="text" id="testTitle" name="testTitle"><br><br>
                    <label for="maxMark">Максимальна оцінка:</label><br>
                    <input type="number" id="maxMark" name="maxMark"><br><br>
                    <label for="tags">Теги:</label><br>
                    <input type="text" id="tags" name="tags"><br><br>
                </div>
                <div id="questions"></div>
                <button class="add-question">Додати питання</button>
                <button class="add-multi-answer-question">Додати питання з декількома відповідями</button>

                <button class="submit-changes">Зберегти зміни</button>
            </section>
            <section class="work-with-test">
                <h2>Робота з тестом</h2>
                <p><a href="">Перейти до попереднього перегляду</a></p>
                <p><a href="">Переглянути статистику</a></p>
            </section>
        </section>

        <script src="/static/js/constructor.js"></script>

        <footer>
            <p><a href="about">Про нас</a></p>
            <p><a href="help">Допомога</a></p>
            <p>Knowledge Checkup(c) 2023</p>
        </footer>
    </body>
</html>