<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Головна - Knowledge Checkup</title>
        {{template "imports"}}
        <style>

        </style>
    </head>
    <body>
        <header>
            <h1><img src="../../static/img/logo.jpg" alt=""> Knowledge Checkup</h1>
            {{template "userMenu"}}
        </header>
        <section class="section-container">
            <div class="logo-container">
                <img src="../../static/img/logo.jpg" alt="">
            </div>
            <div class="logo-text">
                <h1>Вітаємо, {{ .Last_name }} {{ .First_name }} {{ .Middle_name }}! (a.k.a. {{ .Nickname }}!)</h1>
                <p>Широкий вибір тестів на різні теми!</p>
                <p>Вбудований конструктор тестів!</p>
            </div>
        </section>
        <footer>
            <p><a href="about">Про нас</a></p>
            <p><a href="help">Допомога</a></p>
            <p>Knowledge Checkup(c) 2023</p>
        </footer>
    </body>
</html>