<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Список тестів - Knowledge Checkup</title>
        {{template "imports"}}
    </head>
    <body>
        <header>
            <h1><img src="../../static/img/logo.jpg" alt=""> Knowledge Checkup</h1>
            {{template "automenu" .}}
        </header>
        <section class="test-list">
            <h1>Список тестів</h1>
            <form action="">
                <label for="createdTestFilter">Пошук:</label> <br>
                <input type="text" id="createdTestFilter" name="createdTestFilter" placeholder="Введіть назву або ID тесту"><br><br>
                <label for="sort_options">Сортувати за:</label><br>
                <select id="sort_options" name="sort_options">
                    <option value="Title" data-type="string">Назвою</option>
                    <option value="CreatedAt" data-type="date">Датою створення</option>
                    <option value="UpdatedAt" data-type="date">Датою модифікації</option>
                </select>
            </form>
            <main>

            </main>
        </section>
        <section class="tests-results">
            <h2>Ваші минулі результати</h2>
            <aside class="test-results-container">
                <table>
                    <tr>
                        <th>Назва тесту</th>
                        <th>Час проходження</th>
                        <th>Оцінка</th>
                    </tr>
                </table>
            </aside>
        </section>
        <script>
            renderTestList("main", "/test/list", false)
        </script>
        <script src="/static/js/resultsList.js"></script>
        <footer>
            <p><a href="about">Про нас</a></p>
            <p><a href="help">Допомога</a></p>
            <p>Knowledge Checkup(c) 2023</p>
        </footer>
    </body>
</html>